/.vs/BeanwareCore/v16/.suo
/.vs/BeanwareCore/v16/Server/sqlite3/db.lock
/.vs/BeanwareCore/v16/Server/sqlite3/storage.ide-shm
/.vs/BeanwareCore/v16/Server/sqlite3/storage.ide-wal
/BeanwareCore/obj/Debug/BeanwareCore.csprojAssemblyReference.cache
/.vs/BeanwareCore/v16/.suo
/BeanwareCore/obj/Debug/BeanwareCore.csprojAssemblyReference.cache
/.vs/BeanwareCore/v16/.suo
